#navBar {
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: orange;
}

body {
    margin: 0px;
}

#content {
    margin: 8px;
}

#loginBtn, #signupBtn {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
    padding: 0.5% 1%;
}
  
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    color: black;
}

li:hover {
    background-color: darkorange;
  }